<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PGMenuWebservices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PGMenuWebservices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PGMenuWebservices.Properties.Settings>
            <setting name="PGMenuWebservices_pgmenuwebservice_UserAuthorization"
                serializeAs="String">
                <value>http://developer.bangkokair.pg:10001/UserAuthorization.asmx</value>
            </setting>
        </PGMenuWebservices.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PGMenuWebservices.Properties.Settings>
            <setting name="SysCode" serializeAs="String">
                <value>TRAFFIC</value>
            </setting>
        </PGMenuWebservices.Properties.Settings>
    </userSettings>
</configuration>